* {
    margin: 0;
    
}

.iEdicion{
    width: 90%;
    padding: 10px;
    background: rgb(255, 255, 255);
    margin: 100px auto;
    display: flex;
    justify-content: center;
}

.Recuadros{
    width: 250px;
    height: 300px;
    background-image: linear-gradient(to left, #64A8A8, #52F2F2 );
    margin: 0px 10px;
    transition: 1s;
}

.Recuadros:hover{
    transform: scale(1.3);
    background-image:linear-gradient(to right, #F26BCE, #F2E083);
    box-shadow: 2px 2px 2px #000;
}

.encabezado {
    /* Regla de estilo que se aplicara a los elementos que tengan la clase encabezado */
    margin: 0 auto;
    /* Margen Exterior */
    background-image: radial-gradient(#6BAEF2 70%, #6184A8);
    padding: 10px;
    /* Margen Interior */
    text-align: right;
    /* Alineacion del texto */
    border: 3px solid white;
    /* Propiedades del borde : grosor, tipo, color */
}

.menu h1 {
    /* Regla de estilo que se aplicara a los elementos que estan dentro del elmento que tiene la clase menu */
    color: white;
    text-align: center;
}

.enlaces {
    /* Flexbox */
    color: white;
    display: flex;
    gap: 20px;
}

/* .enlaces li {
    list-style: none;
}*/

.menuItem {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuItem a div {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}


/* Psudoclases : hover> cuando el cursor esta encima */

.menuItem a div:hover {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(218, 215, 215);
    border-radius: 20px;
    box-shadow: 2px 2px 6px black;
}

.contenido {
    margin-top: 15px;
    /* borde de el elemento: grosor tipo color */
    border: 1px solid black;
    /* curvatura del cada esquina : ESI ESD EID EII | uno para todos */
    /* border-radius: 50px 30px 15px 5px; */
    border-radius: 25px;
    /* Color de fondo*/
    /* background-color: antiquewhite;*/
    /* Ancho */
    width: 90%;
    /* Alto */
    height: 520px;
    /* Margen exterior  */
    margin-left: 4%;
    /* margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5%; */
    /* Margen interior */
    color: rgb(0, 0, 0);
    /* Fondo con degradado de colores */
    /*background: linear-gradient(-15deg, #FFFFFF, #581edf, #ade90a, #ABC000);*/
    /* background: linear-gradient(to left, #000000, #FFFFFF, #999999); */
    /*background: linear-gradient(to top, transparent, #666666, #ade90a, #ABC000);*/
    box-shadow: 5px 5px 15px black;
    padding: 0.5%;
    background-image: linear-gradient(to right, #64A8A8, #52F2F2, #F26BCE, #F2E083);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inombre {
    border: 0.5px solid #54A838;
    background-image: linear-gradient(to right, #69F57D,#F58A51);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

.inombre:hover {        
    border: 2px solid #54A838;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Asunto {
    border: 0.5px solid #6374FF;
    background-image: linear-gradient(to left, #F2E56B, #DB7856);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

.Asunto:hover {        
    border: 2px solid #6374FF;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sArchivo {
    border: 0.5px solid #63CEE6;
    background-image: linear-gradient(to right, #FA594C, #676AE6);
    border-radius: 9px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

.aPersonalizada { 
    border: wheat; 
    border-radius: 10px;      
    display: inline-block;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    overflow: hidden;
    transition: 0.2s;
}

.aPersonalizada:hover { 
    border: 2px solid #98FA6C;  
    border-radius: 10px;     
    background: #98FA6C;
    box-shadow: 0 0 10px #98FA6C, 0 0 40px #98FA6C, 0 0 80px #98FA6C;
}

.eFormulario { 
    border: wheat;    
    border-radius: 10px;    
    display: inline-block;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    overflow: hidden;
    transition: 0.2s;
}

.eFormulario:hover { 
    border: 2px solid #F09955;  
    border-radius: 10px;     
    background: #F09955;
    box-shadow: 0 0 10px #F09955, 0 0 40px #F09955, 0 0 80px #F09955;
}

.Limpiar { 
    border: wheat;   
    border-radius: 10px;     
    display: inline-block;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    overflow: hidden;
    transition: 0.2s;
}

.Limpiar:hover { 
    border: 2px solid #D8F05C; 
    border-radius: 10px;      
    background: #D8F05C;
    box-shadow: 0 0 10px #D8F05C, 0 0 40px #D8F05C, 0 0 80px #D8F05C;
}
